$font-color: #080607;
$secondary-color: #0769d1;
$highlight-color: lightgrey;

$font-family: "Segoe UI";
$filter-header-font-size: 18px;
$header-font-size: 14px;
$price-font-size: 18px;
$body-font-size: 14px;
$filter-padding: 23px;

$margin: 10px;
